*.scssc
.DS_Store

# We don't want to check in packages
.node_modules
node_modules/*

# or sass caches
.sass_cache
sass_cache/*
.sass-cache/

# or bower packages
.bower_components
bower_components/*

# or any temp files
.tmp
tmp/*

# or anything in the build folder
.public_html
public_html/*
.public_html/

# or any compiled css/map files
*.css
*.map

# or next related stuff
.next/*
out/*
