@use 'variables' as *;
@use 'shared' as *;

html {
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  background: $bone;

  @include for-md {
    font-size: 110%;
  }

  @include for-lg {
    font-size: 120%;
  }

  @include for-xl {
    font-size: 135%;
  }

  -webkit-tap-highlight-color: transparent;
}

a {
  transition: 200ms all ease-in-out;
  color: $puerto-rico;
  font-weight: 700;

  img {
    transition: 200ms all ease-in-out;
  }

  &:hover {
    opacity: 0.65;
    text-decoration: none;

    img {
      filter: grayscale(50%);
    }
  }
}

#__next {
  height: 100%;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
