@use 'variables.scss' as *;
@use 'mixins.scss' as *;

.outer {
  position: relative;

  @include for-md {
    margin: 0 $margin;
  }

  @include for-lg {
    margin: 0 $margin-lg;
  }

  @include for-xl {
    max-width: $site-width;
    margin: 0 auto;
  }

  &:before {
    position: fixed;
    content: '';
    display: block;
    width: 100%;
    top: $margin;
    bottom: $margin;
    border-top: $site-border-thickness solid rgba($goldenrod, 0.9);
    border-bottom: $site-border-thickness solid rgba($goldenrod, 0.9);

    @include for-md {
      width: calc(100% - calc(calc(#{$margin} + #{$site-border-thickness}) * 2));
      border: $site-border-thickness solid rgba($goldenrod, 0.9);
    }

    @include for-lg {
      width: calc(100% - calc(calc(#{$margin-lg} + #{$site-border-thickness}) * 2));
      top: $margin-lg;
      bottom: $margin-lg;
    }

    @include for-xl {
      width: $site-width;
    }
  }
}

.topBlur,
.bottomBlur {
  position: fixed;
  left: 0;
  right: 0;
  height: 34px;
  backdrop-filter: blur(4px) grayscale(100%);
  z-index: 10;

  @include for-md {
    height: 48px;
  }
}

.topBlur {
  top: 0;
  mask: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.bottomBlur {
  bottom: 0;
  mask: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
