@use 'variables' as *;

@mixin nav-over-active {
  border-bottom-color: $pomegranate;
  border-right-color: $pomegranate;
  color: $mako;
  font-weight: 500;
}

@mixin for-sm {
  @media (max-width: 549px) {
    @content;
  }
}
@mixin for-md {
  @media (min-width: 550px) {
    @content;
  }
}
@mixin for-lg {
  @media (min-width: 850px) {
    @content;
  }
}
@mixin for-xl {
  @media (min-width: 1250px) {
    @content;
  }
}
