$_border-thickness: 17px;
$_margin: 1em;

.layout-outer {
  position: relative;

  @include media($md) {
    margin: 0 $_margin;
  }

  @include media($xl) {
    max-width: 1200px;
    margin: 0 auto;
  }

  &:before {
    position: fixed;
    content: '';
    display: block;
    width: 100%;
    top: $_margin;
    bottom: $_margin;
    border-top: $_border-thickness solid rgba($_goldenrod, 0.9);
    border-bottom: $_border-thickness solid rgba($_goldenrod, 0.9);

    @include media($md) {
      width: calc(100% - calc(#{$_margin} * 2));
      border: $_border-thickness solid rgba($_goldenrod, 0.9);
    }

    @include media($xl) {
      width: 1200px;
    }
  }
}

.layout-inner {
  position: relative;
  padding: $_margin;
  z-index: 1;
  width: 100%;

  @include media($md) {
    padding: calc(#{$_margin} + #{$_border-thickness});
  }

  &:after {
    position: fixed;
    content: '';
    display: block;
    background: rgba($_mako, 0.8);
    width: calc(100% - calc(#{$_margin} * 2));
    height: $_border-thickness;
    bottom: $_margin;

    @include media($md) {
      width: calc(100% - calc(#{$_margin} * 4) - calc(#{$_border-thickness} * 2));
    }

    @include media($xl) {
      width: calc(1200px - calc(#{$_margin} * 2) - calc(#{$_border-thickness} * 2));
    }
  }

  img { // temp
    max-width: 100%;
  }
}
