h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  color: $_goldenrod;
  font-size: $font-size-4;
}

h2 {
  font-size: $font-size-3;
  color: $_mako;
  line-height: 1.25em;

  > span {
    color: $_bandicoot;
    font-weight: 400;
  }
}

h3 {
  font-size: $font-size-1;
  color: $_bandicoot;
}

h4 {
  font-size: $font-size-0;
}

p {
  font-size: $font-size-0;
  color: $_ironside;
  line-height: 1.4em;

  &.intro {
    font-size: $font-size-1;

    &:after {
      content: '...';
      display: block;
      text-align: center;
      letter-spacing: 1em;
      margin: 0 0 $padding-md;
    }
  }
}
