---
title: apps
---

<header id="apps">
	<h1>mobile apps</h1>
</header>

<article>
	<h2>Android Apps <span>(2012 - Current)</span></h2>
	<img src="images/apps/pmb.jpg" />
	<p>Clothes sharing app. I was repsonsible for the wireframing, design and most of the front end implementation.</p>
</article>

<article>
	<h2>iOS Apps <span>(2012 - Current)</span></h2>
	<img src="images/apps/fs.jpg" />
	<p>Reskin of existing clothes sharing app. I was repsonsible for the re-design and some of the front end implementation.</p>
</article>
