---
title: about me
---

<header>
	<h1>boris grudinin</h1>
</header>

<article>
	<p class="intro">I am a highly skilled web designer with over a decade of experience. In this time, I have been able to work on a wide variety of different projects which have helped me to broaden my skill set. I am just as comfortable in Photoshop as in a text editor. I always look to challenge myself and to stay up to date with the latest trends and technologies in order to integrate them into my solutions.</p>

  <h2>Lead UI Designer / Developer <span>(<a href="www.getfitwithdavina.com" target="_blank" rel="nofollow">www.getfitwithdavina.com</a>), London, UK)</span></h2>
	<h3>September 2015 - February 2016</h3>
	<p>This contract role was for a startup developing a celebrity fitness and nutrition website. I was responsible for the design and front end build. The site was built using Ruby on Rails with HAML as the templating language, SASS and jQuery to enhance the user experience.</p>

  <h2>Corporate Image Developer <span>(Fianium Ltd, Southampton, UK)</span></h2>
	<h3>January 2003 - Current</h3>
	<p>Fianium are a long standing freelance client. I look after their corporate image which involves the design and maintenance of their website, tradeshow displays, posters, datasheets and product photography. My latest project was a responsive redesign of their website using Grunt to automate the build process and CircleCI to automatically deploy to either the staging or the live environment.</p>

  <h2>Senior Front End Developer <span>(Paymentsense Ltd, London, UK)</span></h2>
	<h3>June 2014 - August 2015</h3>
	<p>This role allowed me to work on the user experience, information architecture, wireframes, design and front end build of a complex, web based CRM, sales and telephony system. Due to the nature of the project, I was able to work with the latest front end technologies like HTML5, CSS3 and AngularJS. The company follow agile practices and I split my work between two separate teams of developers and ensure the UI is consistent throughout.</p>

  <h2>Senior UX Developer <span>(Volume Ltd, Wokingham, UK)</span></h2>
	<h3>December 2009 - June 2014</h3>
	<p>My remit covered the full lifecycle of a project from initial wireframes and information architecture through to visual design, implementation and testing of websites, web apps and mobile apps. I was able to work on projects for BP Castrol, Dell, GoDaddy, Oracle and Zebra Technologies, along with several charities and local good causes.</p>

  <h2>Web Designer <span>(Dunwoody Marketing Communications Ltd, Newbury, UK)</span></h2>
	<h3>April 2008 - November 2009</h3>
	<p>This role involved the design and front end development of a large number of varied websites. I had to manage my own schedule in order to meet deadlines while working on projects for Barratt Homes, Zurich and David Wilson Homes.</p>

  <h2>Web Designer <span>(Connexion Ltd, Reading, UK)</span></h2>
	<h3>April 2007 - March 2008</h3>
	<p>During my time with Connexion, I worked on the front end of several websites for local businesses.</p>

	<h2>Skills</h2>
	<p>Adobe Photoshop, Adobe Illustrator, Adobe InDesign, Microsoft Visual Studio, Eclipse IDE, HTML (HTML5), CSS (CSS3, SASS), JavaScript (jQuery, Kendo UI, AngularJS, Grunt), Templating (HAML, Mustache), Version Control (Git and TFS), Android Phone UI Development, iOS Phone UI Development.</p>
</article>
