@use '../styles/variables.scss' as *;

.wrap {
  h1 {
    height: 1lh;
    margin-bottom: 0;
  }

  .subtitle {
    display: block;
    font-size: $font-size-2;
    font-weight: 700;
    color: $mako;
    line-height: 1.3em;
    letter-spacing: -0.04em;
    margin-top: 1rem;
    text-wrap: pretty;
  }

  padding-bottom: $padding-md;
}
