@use '../styles/variables.scss' as *;
@use '../styles/shared.scss' as *;

.wrap {
  position: relative;
  margin-bottom: $padding-lg;

  .date {
    @extend %date;
  }

  p {
    margin: 0;

    & + p {
      padding-top: $padding-sm;
    }
  }
}
