<nav>
  <span class="nav-item nav-about"><a href="index.htm">about</a></span>
  <span class="nav-item nav-web"><a href="web.htm">web</a></span>
  <span class="nav-item nav-apps"><a href="apps.htm">apps</a></span>
  <span class="nav-item nav-print"><a href="print.htm">print</a></span>
</nav>
