@mixin nav-over-active() {
  border-bottom-color: $_puerto-rico;
  border-right-color: $_puerto-rico;

  a {
    color: $_mako;
  }
}

@mixin for-sm {
  @media (max-width: rem(549)) { @content; }
}
@mixin for-md {
  @media (min-width: rem(550)) { @content; }
}
@mixin for-lg {
  @media (min-width: rem(850)) { @content; }
}
@mixin for-xl {
  @media (min-width: rem(1100)) { @content; }
}
