@import "bourbon";
@import './mixins.scss';

.logo {
  display: block;
  width: $logo-dimension-sm;
  height: $logo-dimension-sm;
  background: $_alto;
  margin-bottom: calc(#{$nav-border-thickness} * 3);

  @include for-lg {
    width: $logo-dimension-lg;
    height: $logo-dimension-lg;
    margin-top: 0;
    margin-bottom: $padding-md;
  }
}

nav {
  display: flex;
  position: relative;
  z-index: 10;

  @include for-lg {
    flex-direction: column;
    align-items: stretch;
  }

  .nav-item {
    height: 74px;
    line-height: $logo-dimension-sm;
    margin-bottom: -$nav-border-thickness;
    margin-left: $padding-md;
    border-bottom: $nav-border-thickness solid transparent;
    transition: 150ms all;

    @include for-lg {
      height: auto;
      line-height: normal;
      margin-left: 0;
      border-bottom: none;
      border-right: $nav-border-thickness solid transparent;
    }

    &:hover {
      border-right-color: $_puerto-rico;

      a {
        color: $_mako;
        opacity: 1;
      }
    }

    a {
      display: block;
      color: rgba($_bandicoot, 0.85);
      text-decoration: none;

      @include for-lg {
        padding: $padding-xs 0;
      }
    }
  }
}

.page-about {
  .nav-about {
    @include nav-over-active();
  }
}

.page-web {
  .nav-web {
    @include nav-over-active();
  }
}

.page-apps {
  .nav-apps {
    @include nav-over-active();
  }
}

.page-print {
  .nav-print {
    @include nav-over-active();
  }
}
