<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" type="text/css" href="/css/all.css" />

  <title>boris grudinin - {{title}}</title>
</head>
<body>
  
  <div id="outer">
    <div id="inner">
      <section id="top">
        <a id="logo" title="logo" href="index.htm"></a>
        {{> nav }}
      </section>

      <section class="content">
        {{> body }}
      </section

		</div>
	</div>

  <script type="text/javascript">
  	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  	</script>

  	<script type="text/javascript">
  	try {
  	var pageTracker = _gat._getTracker("UA-29914500-1");
  	pageTracker._trackPageview();
  	} catch(err) {}
  </script>
</body>
</html>
